<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Pool Panel
        link(rel="stylesheet" type="text/css" href="/css/bootstrap.css")
    body
        noscript Javascript must be enabled
        div(class="container-fluid content")

        script(type="text/javascript" src="/js/bootstrap.js")
        script(type="text/javascript" src="/js/site.js")